

//--------
// .title-l
.title {
    &-l, &-m, &-s, &-xs { 
        margin: 0; 
        text-transform: capitalize; 
        // flex: 1;
        width: 100%;
        line-height: normal;
    }

    // Page Title.
    &-l {
        font-size: toVP(60px);
        // line-height: toVP(82px);
        font-family: $font-sb;
        // -----
        margin: 0 0 toVP(31px);
        // -----
        @include mq('tablet') {
            font-size: toRem(37px);;
            // line-height: toRem(51px);
            // -----
            margin: 0 0 $f20;
        }
        // -----
        @include mq('phone') {
            font-size: $f24;
            // line-height: toRem(33px);
            // -----
            margin: 0 0 $f15;
        }
    }
    // Card Titles.
    &-m {
        font-size: toVP(37px);
        // line-height: toVP(51px);
        font-family: $font-b;
        // -----
        margin: 0 0 $v14;
        // -----
        @include mq('tablet') {
            font-size: $f27;
            // line-height: toVP(37px);
        }
        // -----
        @include mq('phone') {
            font-size: $f24;
            // line-height: toRem(33px);
            // -----
            margin: 0 0 10px;
        }
    }
    // Tab Titles.
    &-s {
        font-size: toVP(32px);
        // line-height: toVP(43px);
        font-family: $font-r;
        // -----
        @include mq('tablet') {
            font-size: $f22;
            // line-height: $f30;
        }
    }
    // Sub Titles.
    &-xs {
        font-size: $v27;
        // line-height: toVP(37px);
        font-family: $font-r;
        // -----
        @include mq('tablet') {
            font-size: $f17;
            // line-height: $f23;
        }
        // -----
        @include mq('phone') {
            font-size: $f20;
            // line-height: $f27;
        }
    }
}
//--------

.text {
    &-l,&-m,&-s { font-family: $font-r;}

    // Navigation Items.
    &-l {
        font-size: $f20;
        // line-height: $f29;
        line-height: 28px;
        // -----
        @include mq('tablet') {
            font-size: $f16;
            line-height:$f22;
        }
    }
    // Content & Buttons Text.
    &-m {
        font-size: $f18;
        line-height: $f24;
        // -----
        @include mq('tablet') {
            font-size: $f14;
            line-height:$f19;
        }
    }
    // Navigation Buttons.
    &-s {
        font-size: $f16;
        line-height: $f22;
        // -----
        @include mq('tablet') {
            font-size: $f14;
            line-height:$f17;
        }
    }
    // Error.
    &-xs {  
        font-size: $f12;
        line-height: $f18;
        font-family: $font-l;
        // -----
        @include mq('tablet') {
            font-size: $f10;
            line-height:$f16;
        }
    }
}
//--------


//--------


