
// Arabic Fonts.
// ---------------------

@font-face {
    font-family: 'Ar-bold';
    font-weight: 700;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/Ar-Tajawal/Tajawal-Bold.ttf');
}
@font-face {
    font-family: 'Ar-sbold';
    font-weight: 500;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/Ar-Tajawal/Tajawal-Medium.ttf');
}
@font-face {
    font-family: 'Ar-regular';
    font-weight: 400;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/Ar-Tajawal/Tajawal-Regular.ttf');
}
@font-face {
    font-family: 'Ar-light';
    font-weight: 300;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/Ar-Tajawal/Tajawal-Light.ttf');
}
// ---------------------

// English Font.
// ---------------------
@font-face {
    font-family: 'En-bold';
    font-weight: 700;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/En-OpenSans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'En-sbold';
    font-weight: 600;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/En-OpenSans/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'En-regular';
    font-weight: 400;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/En-OpenSans/OpenSans-regular.ttf');
}
@font-face {
    font-family: 'En-light';
    font-weight: 300;
    font-style: normal;font-stretch: normal;
    src: url('../fonts/En-OpenSans/OpenSans-light.ttf');
}








