

//============breakpoints==============
$breakpoints: (
    "phone":        415px,
    "phone-wide":   481px,
    "phablet":      561px,
    "tablet-small": 641px,
    "tablet":       769px,
    "tablet-wide":  981px,
    "tablet-xwide":  1025px,
    "desktop":      1281px,
    "desktop-wide": 1367px,
    "laptop": 1600px
    );
//--------------------
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media screen and (#{$type}-width: $width) {  
            @content;  
        }
        @media print and (#{$type}-width: $width) {
            @content;
        }
    }
} 

