
// Main colors variables
$main: #00B9FF !default;
$accent-1: #A6E41C !default;

// Sub Colors
// #2437AC
$accent-2: #E11FB8 !default;
$layouts: #181C25 !default;

$layout-body: #EFF3F5 !default;

$dark-text: #232323 !default;
$pale-text: #707070 !default;
$light-text: #fff !default;

$c-border: rgba($pale-text, .3) !default;
// --------------------


$primary: $main !default;
$secondary: $accent-1 !default;
$success: #9BCC62 !default;
$info: #00FFF7 !default;
$warning: #F9DC4D !default;
$danger: #EC4E4E !default;
$light: #fff !default;
$dark: #232323 !default;


// Kareem & Mina Colors.
// $primary: #FF33F0 !default;
// $secondary: #FFFF33 !default;
// // $success: #FF9B00 !default;
// $info: #00FFF7 !default;
// // $warning: #E400FF !default;
// $danger: #FF008F !default;
// $light: #fff !default;
// $dark: #000 !default;
// --------------------
// Neutral Colors
$cn-0: #565960 !default;
$cn-1: #AFAFAF !default;
$cn-2: #EFEFEF !default;
// --------------------


// Warning Colors
// $success : #9BCC62 !default;
$error: #EC4E4E !default;
// $warning: #F9DC4D !default;

$box-bg: #DEDEDE !default;    //check


