@import "mixins";
// @import "bootstrap-variables";
// @import "paths";
@import "colors";
@import "fonts";

// ----------

$max-width: 1590px;
// $max-width: 1586px;
// ----------
$default-fontSize: 20px;

$font-l: 20px;
$font-m: 13px;
$font-s: 12px;
// ----------

$height-s: toRem(32px) !default;
$height-m: toRem(42px) !default;
$height-l: toRem(60px) !default;
// $height-l: toRem(54px) !default;
// $height-xl: 40px !default;

// $height-s: toRem(32px) !default;
// $height-m: toRem(42px) !default;
// $height-l: toRem(54px) !default;
// ----------

$f5: toRem(5px);
$f6: toRem(6px);
$f7: toRem(7px);
$f8: toRem(8px);
$f9: toRem(9px);
$f10: toRem(10px);
$f11: toRem(11px);
$f12: toRem(12px);
$f13: toRem(13px);
$f14: toRem(14px);
$f15: toRem(15px);
$f16: toRem(16px);
$f17: toRem(17px);
$f18: toRem(18px);
$f19: toRem(19px);
$f20: toRem(20px);
$f21: toRem(21px);
$f22: toRem(22px);
$f23: toRem(23px);
$f24: toRem(24px);
$f25: toRem(25px);
$f26: toRem(26px);
$f27: toRem(27px);
$f28: toRem(28px);
$f29: toRem(29px);
$f30: toRem(30px);

// ---------------------------------------------------------------------
// ---------------------------------------------------------------------


// /////////////////////////////////////

@import "bootstrap-variables";

// /////////////////////////////////////