$isAr: true;

$default-float: right;
$opposite-float: left;
$default-direction: rtl;
$opposite-direction: ltr;
$lang: ar;
// -----
$left: right;
$right: left;
// -----
$font-r: "Ar-regular";
$font-b: "Ar-bold";
$font-sb: "Ar-sbold";
$font-l: "Ar-light";
// -----
// $font-default: $font-l;
$font-default: $font-r;


