$isAr: false;

$default-float: left;
$opposite-float: right;
$default-direction: ltr;
$opposite-direction: rtl;
$lang: en;
// -----
$left: left;
$right: right;
// -----
$font-r: "En-regular";
$font-b: "En-bold";
$font-sb: "En-sbold";
$font-l: "En-light";
// -----
$font-default: $font-r;

